@charset "shift_jis";

/* ===================== general style ===================== */

/* ================== utility ================== */


/* ----- clear fix ----- */

.cmn_cl:after,
#main_inner:after {
content:".";
display:block;
clear:both;
visibility:hidden;
height:0;
font-size:0.1em;
line-height:0;
}
.cmn_cl,
#main_inner {
display:inline-block;
}

/* Hides from IE-mac \*/
* html .cmn_cl,
* html #main_inner {
height:1%;
}
.cmn_cl,
#main_inner{
display:block;
}


/* ----- clear ----- */

.clear {
clear:both;
width:1px;
height:1px;
overflow:hidden;
}

/* ----- lib ----- */

.mgb0 {
margin-bottom:0!important;
}
.mgb5 {
margin-bottom:5px!important;
}
.mgb10 {
margin-bottom:10px!important;
}
.mgb15 {
margin-bottom:15px!important;
}
.mgb20 {
margin-bottom:20px!important;
}
.mgb25 {
margin-bottom:25px!important;
}
.mgb30 {
margin-bottom:30px!important;
}
.mgb35 {
margin-bottom:35px!important;
}
.mgb40 {
margin-bottom:40px!important;
}
.mgb50 {
margin-bottom:50px!important;
}
.mgb60 {
margin-bottom:60px!important;
}
.mgb70 {
margin-bottom:70px!important;
}
.mgb80 {
margin-bottom:80px!important;
}
.pdt5 {
padding-top:5px!important;
}
.pdt10 {
padding-top:10px!important;
}
.pdt20 {
padding-top:20px!important;
}
.pdt25 {
padding-top:25px!important;
}
.pdb0 {
padding-bottom:0!important;
}
.pdb5 {
padding-bottom:5px!important;
}
.pdb30 {
padding-bottom:30px!important;
}
.pdl0 {
padding-left:0!important;
}
.pdl5 {
padding-left:5px!important;
}
.pdl10 {
padding-left:10px!important;
}
.pdl20 {
padding-left:20px!important;
}
.pdl25 {
padding-left:25px!important;
}
.pdr0 {
padding-right:0!important;
}
.pdr10 {
padding-right:10px!important;
}
.pdr15 {
padding-right:15px!important;
}
.pdr20 {
padding-right:20px!important;
}
.tac {
text-align:center!important;
}
.tar {
text-align:right!important;
}
.fwb {
font-weight:bold!important;
}
.fsn {
font-size:100%!important;
}
.fsn li {
font-size:100%!important;
}
.fs10 {
font-size:84%!important;
}
.fs14 {
font-size:117%!important;
}
.fs16 {
font-size:134%!important;
}
.fs18 {
font-size:150%!important;
}
.fs20 {
font-size:167%!important;
}
.vat {
vertical-align:top!important;
}
.vam {
vertical-align:middle!important;
}
.vab {
vertical-align:bottom!important;
}

a {
color:#00AEEF;
}

/* ----- more-link ----- */

.more-link a {
padding:0 12px 0 0!important;
background:url(/11111/common/img/icn_arw_fwd_01.gif) no-repeat right 1px!important;
}

/* ----- more-link ----- */

.back-link a {
padding:0 0 0 15px;
background:url(/11111/common/img/icn_arw_back_01.gif) no-repeat 0 1px;
font-weight:bold;
color:#2bbcf2;
}

.arw-link-top a {
padding:0 12px 0 0!important;
background:url(/11111/common/img/icn_arw_top.gif) no-repeat right 2px;
font-weight:bold;
}

.arw-link-top_top a {
padding:0 12px 0 0!important;
background:url(/11111/common/img/icn_arw_top.gif) no-repeat right 2px;
font-weight:bold;
color:#2bbcf2!important;
}

/* ----- box color ----- */

#main div#grid .orange1 {
background:#FFB300;
}
#main div#grid .orange2 {
background:#FF6201;
}
#main div#grid .orange3 {
background:#FF4E02;
}
#main div#grid .green1 {
background:#B7C200;
}
#main div#grid .green1_2 {
background:#858C00;
}
#main div#grid .green2 {
background:#69BF2A;
}
#main div#grid .green3 {
background:#00727D;
}
#main div#grid .green4 {
background:#009941;
}
#main div#grid .green5 {
background:#00AD93;
}
#main div#grid .green6 {
background:#00B8BA;
}
#main div#grid .blue1 {
background:#0073D0;
}
#main div#grid .blue2 {
background:#00AEEF;
}
#main div#grid .blue3 {
background:#00759b;
}
#main div#grid .purple1 {
background:#951AB0;
}
#main div#grid .purple2 {
background:#6B2A62;
}
#main div#grid .red1 {
background:#CF123A;
}
#main div#grid .red2 {
background:#E61A37;
}
#main div#grid .pink1 {
background:#EC008C;
}
#main div#grid .pink2 {
background:#E60042;
}
#main div#grid .black1 {
background:#000000;
}
#main div#grid .black2 {
background:#666666;
}
#main div#grid .black3 {
background:#333333;
}
#main div#grid .yellow1 {
background:#FFB200;
}
#main div#grid .yellow2 {
background:#cc8800;
}


/* ===================== top ===================== */

/* ---------- main ---------- */

/* -- mainvis -- */

#main .mainvis {
z-index:101;
position:relative;
overflow:hidden;
width:100%;
min-width:960px;
height:380px;/*newsbar挿入時は415px、通常380px*/
background:#ffffff;
}

#main .mainvis #slideshow {
z-index:102;
}
#main .mainvis #slideshow li {
position:absolute;
left:0;
top:0px;/*newsbar挿入時は35px、通常0px*/
width:100%;
height:380px; /*newsbar挿入時は415px、通常380px*/
background-repeat:no-repeat;
background-position:center top;
}
#main .mainvis #slideshow li .w1 {
position:relative;
width:960px;
height:380px;/*newsbar挿入時は415px、通常380px*/
margin:0px auto;
}
#main .mainvis #slideshow li .w2 {
position:absolute;
left:0;
top:0;
margin:0 auto;
}
#main .mainvis #slideshow li .w2 img {
display:block;
}
#main .mainvis #slideshow li p {
width:960px;
margin:0 auto;
}
* html #main .mainvis #slideshow li p {
position:absolute;
left:50%;
width:auto;
margin-left:-800px;
}
#main .mainvis #slideshow li p img {
margin-left:-320px;
}
* html #main .mainvis #slideshow li p img {
margin:0;
}

#main .mainvis #slidenav {
position:absolute;
left:50%;
bottom:10px;
margin-left:-480px;
}
#main .mainvis #slidenav li {
float:left;
width:12px;
margin:0 10px 0 0;
}
#main .mainvis #slidenav li a {
overflow:hidden;
display:block;
width:16px;
height:16px;
background:url(../img/top/icn_slidenav.png) no-repeat 0 -16px;
}
* html #main .mainvis #slidenav li a {
background-image:url(../img/top/icn_slidenav.gif);
}
#main .mainvis #slidenav li a:hover,
#main .mainvis #slidenav li.cu a {
background-position:0 0;
}

/* -- mainvis_wed -- */

#main .mainvis_wed {
z-index:101;
position:relative;
overflow:hidden;
width:100%;
height:380px;
background:#ffffff;
}

#main .mainvis_wed #slideshow {
z-index:102;
}
#main .mainvis_wed #slideshow li {
position:absolute;
left:0;
top:0px;
width:100%;
height:380px;
background-repeat:no-repeat;
background-position:center top;
}
#main .mainvis_wed #slideshow li .w1 {
position:relative;
width:960px;
height:380px;
margin:0px auto;
}
#main .mainvis_wed #slideshow li .w2 {
position:absolute;
left:0;
top:0;
margin:0 auto;
}
#main .mainvis_wed #slideshow li .w2 img {
display:block;
}


/* -- newsbar -- */
#main .newsbar {
width:100%;
height:35px;
margin-top:0px;
background:#ffb300;
position:absolute;
}

/* -- topic-area -- */

#main .topic-area {
width:960px;
margin:20px auto;
}
#main .topic-area .topic-box {
position:relative;
float:left;
width:300px;
height:180px;
margin:0 20px 0 0;
padding:0 9px 0 0;
border-right:1px solid #eeeeee;
}
#main .topic-area .topic-box.last {
margin:0;
padding:0;
border-right:none;
}
#main .topic-area .topic-box .item {
position:absolute;
left:0;
top:0;
height:180px;
}

#main .topic-area .topic-box .inner {
min-height:130px;
}
/* for IE7 */
*+html #main .topic-area .topic-box .inner {
height:130px;
}
/* for IE6 */
* html #main .topic-area .topic-box .inner {
height:130px;
}

#main .topic-area .topic-box .cont {
float:left;
width:160px;
}
#main .topic-area .topic-box .img {
float:left;
width:130px;
}

/* -- topic-area .icn -- */

#main .topic-area .topic-box p.icn {
height:8px;
margin:0 0 12px 0;
text-indent:-9999px;
}

#main .topic-area .topic-box .ranking {
background:url(/11111/common/img/top/icn_txt_ranking.gif) no-repeat left top;
}
#main .topic-area .topic-box .new {
background:url(/11111/common/img/top/icn_txt_new02.gif) no-repeat left top;
}
#main .topic-area .topic-box .community {
background:url(/11111/common/img/top/icn_txt_community.gif) no-repeat left top;
}
#main .topic-area .topic-box .talk {
background:url(/11111/common/img/top/icn_txt_talk.gif) no-repeat left top;
}
#main .topic-area .topic-box .campaign {
background:url(/11111/common/img/top/icn_txt_campaign.gif) no-repeat left top;
}
#main .topic-area .topic-box .event {
background:url(/11111/common/img/top/icn_txt_event.gif) no-repeat left top;
}
#main .topic-area .topic-box .feature {
background:url(/11111/common/img/top/icn_txt_feature.gif) no-repeat left top;
}
#main .topic-area .topic-box .feature02 {
background:url(/11111/common/img/top/icn_txt_feature02.gif) no-repeat left top;
}
#main .topic-area .topic-box .feature03 {
background:url(/11111/common/img/top/icn_txt_feature04.gif) no-repeat left top;
}
#main .topic-area .topic-box .sale {
background:url(/11111/common/img/top/icn_txt_sale.gif) no-repeat left top;
}


/* -- topic-area .ttl -- */

#main .topic-area .topic-box p.ttl {
height:43px;
margin:0 0 18px 0;
text-indent:-9999px;
}

#main .topic-area .topic-box .ttl_new_01 {
background:url(/11111/common/img/top/txt_mostpopular.gif) no-repeat left top;
}
#main .topic-area .topic-box .ttl_new_02 {
background:url(/11111/common/img/top/txt_campaign.gif) no-repeat left top;
}
#main .topic-area .topic-box .ttl_new_03 {
background:url(/11111/common/img/top/txt_giftforher.gif) no-repeat left top;
}
#main .topic-area .topic-box .ttl_new_04 {
background:url(/11111/common/img/top/txt_summer20.gif) no-repeat left top;
}

#main .topic-area .topic-box .ttl_new_11 {
background:url(/11111/common/img/top/txt_holidaycheer.gif) no-repeat left top;
}
#main .topic-area .topic-box .ttl_new_12 {
background:url(/11111/common/img/top/txt_holiday2014.gif) no-repeat left top;
}
#main .topic-area .topic-box .ttl_new_13 {
background:url(/11111/common/img/top/txt_campaign.gif) no-repeat left top;
}


#main .topic-area .topic-box .ttl_new_21 {
background:url(/11111/common/img/top/txt_nissen10.gif) no-repeat left top;
}
#main .topic-area .topic-box .ttl_new_22 {
background:url(/11111/common/img/top/txt_furniture.gif) no-repeat left top;
}
#main .topic-area .topic-box .ttl_new_23 {
background:url(/11111/common/img/top/txt_new_04.gif) no-repeat left top;
}
#main .topic-area .topic-box .ttl_wedding_01 {
background:url(/11111/common/img/wedding/top_subttl_01.gif) no-repeat left top;
}
#main .topic-area .topic-box .ttl_wedding_02 {
background:url(/11111/common/img/wedding/top_subttl_02.gif) no-repeat left top;
}
#main .topic-area .topic-box .ttl_wedding_03 {
background:url(/11111/common/img/wedding/top_subttl_03.gif) no-repeat left top;
}

/* -- slider -- */

#navigation .bx-wrapper,
#navigation .bx-window {
width:680px!important;
overflow:hidden;
z-index:6004;
}

#navigation a.bx-prev,
#navigation a.bx-next {
display:block;
position:absolute;
top:80px;
width:13px;
height:28px!important;
text-indent:-9999px;
outline:none;
z-index:6005;
}

#navigation a.bx-next {
right:0;
background:url(/11111/common/img/fig_arw_item_rgt.gif) no-repeat left top;
}
#navigation a.bx-prev {
left:0;
background:url(/11111/common/img/fig_arw_item_lft.gif) no-repeat left top;
}

#main .flash-download {
padding:15px 19px;
background:#EEEEEE;
}


/**

eyebrows

*/

span.eyebrow {
font-size: 12px;
font-weight: bold;
text-transform:uppercase;
}

span.eyebrow span.lowercase {
text-transform: lowercase;
}

span.sale {
color: #f00;
}

span.new {
color: #7ac142;
}

span.bestseller {
color: #731472;
}

span.member-favorite {
color: #ec008c;
}

/* use span.orange for "In the collection", "MoMA Exhibition", and "MoMA exclusive" eyebrows */
span.orange {
color: #f47d30;
}

span.orig-price {
text-decoration: line-through;
}


#main p.lead {
font-weight:bold;
}
#main .lead2 {
margin:0 0 11px;
font-weight:bold;
}
#main .lead2 span {
padding:0 0 2px;
background:url(/11111/common/img/fig_bdr_dot_03.gif) repeat-x 0 100%;
}


/* Form CSS */

#main .notes-red {
padding:0 0 0 7px;
color:#ed1c24;
font-weight:normal;
font-size:84%;
}
body .tipInner {
margin:-7px 0 0 0;
padding:1px 0 0 115px;
color:#ed1c24!important;
font-size:100%!important;
line-height:2.4;
}
#main input.txt {
width:388px;
padding:5px 6px;
}
#main input.s1 {
width:310px;
}
#main input.s2 {
width:154px;
}
#main input.s3 {
width:122px;
}
#main input.s4 {
width:66px;
}
#main input.s5 {
width:48px;
}
#main textarea.normal {
width:588px;
height:90px;
padding:5px 6px;
}

#main .atc_area .inner {
width:934px;
height:145px;
margin:0 0 14px;
padding:11px;
overflow-y:scroll;
border-top:2px solid #7c7c7c;
border-bottom:1px solid #eeeeee;
border-left:2px solid #7c7c7c;
}
#main .atc_area p.btn input {
position:relative;
top:2px;
margin:0 10px 0 0;
}

#main .info_area,
#main .customer-info {
margin:0 0 20px;
padding:40px 0;
border-top:5px solid #eeeeee;
border-bottom:5px solid #eeeeee;
}
#main .info_area {
color:#666666;
}
#main .info_area a {
font-weight:bold;
}
#main .info_area hr {
margin:40px 0;
padding:0;
border-top:5px solid #eeeeee;
border-left:none;
border-right:none;
border-bottom:none;
}
#main .info_area .lead {
clear:both;
margin:0 0 3px;
font-weight:bold;
color:#666666;
}
#main .info_area .exp {
margin:0 0 15px 0;
padding:0 0 0 15px;
background:url(/11111/common/img/fig_bdr_dot_02.gif) repeat-y left top;
}


/* Product thumbs */

/* set the widths of .product a.product-button and .product img in local css */
.product {
float: left;
position: relative;
}

.product a.product-button {
display: block;
overflow: hidden;
cursor: pointer;
}

.product img {
display: block;
margin: 0px auto;
}

.product div.info {
/*position: absolute; コメout*****************************************************************************/
width:160px;
height:90px;
bottom: 9px;
left: 0px;
padding: 0px 9px;
line-height: 1.1;
text-align: left;
}
.corporate .product div.info {
bottom: 22px;
}

.product div.info > *{
float: left;
clear: both;
}

.product div.info h2 {
display: block;
color: #000;
font-size: 84%;
line-height: 1.1;
margin: 0px 0px 3px;
width: 100%;
}

.product div.info h3 {
display: block;
color: #000;
font-size: 85%;
font-weight: bold;
color:#666;
line-height: 1.1;
margin: 0px 0px 3px;
width: 100%;
}

.product div.info div.price {
display: block;
font-size: 84%;
font-weight: bold;
color: #666;
white-space: nowrap;
}

.product div.info img {
margin:0 0 1px;
}

.product div.icon > *{
float: right;
clear: both;
}

.product div.icon {
position: absolute;
bottom: 9px;
right: 0px;
padding: 0px 9px;
line-height: 1.1;
}

.product:hover a {
text-decoration: none;
}

.product a.product-button:hover h2{
text-decoration:none;
}

a.product-button:hover {
text-decoration: none;
}

.product a.product-button h2:hover{
text-decoration:underline;
}

/* about */

.about #main .cont-wrap #side,
.customer #main .cont-wrap #side,
.how #main .cont-wrap #side {
padding:31px 0 0;
}
.about #main .cont-wrap #side ul,
.customer #main .cont-wrap #side ul,
.how #main .cont-wrap #side ul {
border-top:1px solid #d9d9d9;
}
.about #main .cont-wrap #side ul li,
.customer #main .cont-wrap #side ul li,
.how #main .cont-wrap #side ul li {
padding:9px 0 5px;
border-bottom:1px solid #d9d9d9;
font-weight:bold;
}
.about #main .cont-wrap #side ul li a,
.customer #main .cont-wrap #side ul li a,
.how #main .cont-wrap #side ul li a {
color:#000000;
}
.about #main .cont-wrap #side ul li.cur,
.customer #main .cont-wrap #side ul li.cur,
.how #main .cont-wrap #side ul li.cur {
color:#666666;
}
.about #main .membership {
text-align:right;
}
.about #main .membership .notes {
color:#666666;
}
.about #main .cont-wrap #cont,
.customer #main .cont-wrap #cont,
.how #main .cont-wrap #cont {
float:left;
width:764px;
padding:31px 0 51px 20px;
}
.about #cont h1.about-lead,
.customer #cont h1.customer-lead,
.how #cont h1.how-lead,
.corporate #main_content h1.corporate-lead {
margin:0 0 30px;
padding:0 0 7px;
border-bottom:1px solid #d9d9d9;
}
.about #cont a {
font-weight:bold;
color:#2bbcf2;
}
.about #cont h2.special {
margin:0 0 20px;
padding:0 0 7px;
background:url(/11111/common/img/fig_bdr_dot_03.gif) repeat-x 0 100%;
}
.about #cont .paragraph {
margin:0 0 20px;
padding:0 0 21px;
background:url(/11111/common/img/fig_bdr_dot_03.gif) repeat-x 0 100%;
}
.about #cont .paragraph .pic {
float:left;
width:185px;
}
.about #cont .paragraph .txt {
float:left;
width:559px;
padding:4px 0 0 20px;
}
.about #cont .paragraph .txt h3 {
margin:0 0 28px;
}
.about #cont ul.list li {
margin:0 0 0 20px;
}
.about #cont .paragraph .txt ul.list li ul li {
margin:0;
list-style:none;
}
.notes,
.notes_txt {
margin-left:1em;
text-indent:-1em;
}
.notes li,
.notes_txt li {
text-indent:-1em;
}
.notes_txt li {
font-size:84%;
background:none!important;
}

.about #cont .paragraph .txt ul.list li ul.notes li {
margin:0 0 0 1em;
text-indent:-1em;
font-size:84%;
}
.about #cont .gray-box,
.wedding #main .gray-box {
margin:0 0 30px;
padding:20px 27px;
background:#eeeeee;
}

.about #cont .history-pic li {
padding:0 20px 0 0;
display:inline;
}
.about #cont .history-pic li img {
vertical-align:top;
}
.about #cont .paragraph-location .pic {
float:left;
width:330px;
}
.about #cont .paragraph-location .txt {
float:left;
width:416px;
padding:0 0 0 18px;
}
.about #cont .access {
margin:0 0 20px;
}
.about #cont .access .txt {
float:left;
width:249px;
padding:0 20px 0 0;
}
.about #cont .access .pic {
float:right;
width:495px;
}
.about #cont .salon {
margin:0 0 60px;
}
.about #cont .salon .txt {
float:left;
width:444px;
padding:0 20px 0 0;
}
.about #cont .salon .pic {
float:right;
width:297px;
}

/* about mobile */

.about #cont .mobile-box {
margin:0 0 20px;
}
.about #cont .mobile-box .txt,
.about #cont .howtoaccess .txt {
float:left;
width:564px;
padding:0 20px 0 0;
}
.about #cont .mobile-box .pic {
float:right;
width:180px;
}
.about #cont .howtoaccess .qrcode {
float:right;
width:158px;
padding:0 0 0 22px;
}

/* login */

.login #main h1 {
margin:0 0 40px;
padding:0 0 30px;
border-bottom:5px solid #eeeeee;
}
.login #main .login-wrap {
color:#666666;
}
.login #main .login-area {
float:left;
width:550px;
}
.login #main .new-area {
float:left;
width:410px;
}
.login #main .login-bdr {
margin:0 0 20px;
padding:0 0 40px;
border-bottom:5px solid #eeeeee;
}

/* how */

.how #main ol li {
margin:0 0 0 20px;
list-style:decimal;
}

.how #main ul.list-cvs li .gray-border-box {
width:530px;
margin:0;
}

#main ul.list-disc li {
margin:0;
padding:0 0 0 14px;
background:url(/11111/common/img/fig_disc.gif) no-repeat left 8px;
list-style:none;
}
#main ul.list-disc li ol li {
margin:0 0 0 18px;
padding:0;
list-style:decimal;
background:none;
}

#main .gift-main-box {
width:764px;
min-height:380px;
margin:0 0 14px;
background:#ec008c url(/11111/common/img/bg_gift_wrapping.jpg) no-repeat 0 0;
}
* html #main .gift-main-box {
height:380px;
}
#main .gift-main-box h1 {
padding:38px 0 0 40px;
}
#main .gift-main-box p {
padding:28px 0 0 40px;
}
#main .gift-main-box ul {
padding:35px 0 0 40px;
}
#main .gift-main-box ul li a {
padding:0 12px 0 0;
background:url(/11111/common/img/icn_arw_white.gif) no-repeat 100% 0.3em;
font-weight:bold;
color:#ffffff;
}

#main .gift-item-box {
padding:30px 0 0;
border-top:5px solid #eeeeee;
}
#main .gift-item-box .txt {
float:left;
width:386px;
padding:0 30px 0 0;
}
#main .gift-item-box .pic {
float:right;
width:348px;
text-align:right;
}
#main .gift-inner1 h3.top {
padding:24px 0 0;
}
#main .gift-inner1 .pic {
padding:16px 0 0;
}
#main .gift-inner2 .more-link {
margin:0 0 110px;
}

#main .time-table {
width:30%;
margin:0 0 10px 0;
}
#main .time-table th {
padding:4px 12px;
border:1px solid #cccccc;
vertical-align:top;
}
#main .time-table td {
padding:4px 12px 3px;
border-top:1px solid #cccccc;
border-bottom:1px solid #cccccc;
border-right:1px solid #cccccc;
}
#main .ship-table {
width:100%;
}
#main .ship-table th {
padding:7px 15px 6px;
border:1px solid #cccccc;
background:#eeeeee;
}
#main .ship-table td {
padding:11px 15px;
border-bottom:1px solid #cccccc;
border-left:1px solid #cccccc;
border-right:1px solid #cccccc;
}
#main .ship-table .inner-table {
width:60%;
margin:0 0 10px;
}
#main .ship-table .inner-table th {
padding:1px 10px;
text-align:center;
}
#main .ship-table .inner-table td {
padding:5px 10px;
text-align:center;
}
#main .ship-price-table {
width:100%;
margin:0 0 10px;
text-align:center;
}
#main .ship-price-table th {
border:1px solid #cccccc;
background:#e6e6e6;
color:#666666;
text-align:center;
}
#main .ship-price-table td {
padding:5px 0;
border-bottom:1px solid #cccccc;
border-left:1px solid #cccccc;
border-right:1px solid #cccccc;
color:#666666;
}
#main .ship-option-table {
width:30%;
margin:0 0 10px 0;
}
#main .ship-option-table th {
padding:5px 0;
border:1px solid #cccccc;
background:#e6e6e6;
text-align:center;
}
#main .ship-option-table td {
padding:5px 0;
border-bottom:1px solid #cccccc;
border-left:1px solid #cccccc;
border-right:1px solid #cccccc;
text-align:center;
}


/* customer */

.customer #main .info_area .sex {
width:160px;
margin:0 0 20px;
}
.customer #main .info_area .birth {
width:320px;
margin:0 0 37px;
}
.customer #main .ml-box {
margin:0 0 40px;
padding:24px;
background:#eeeeee;
}
.customer #main .ml-box h2 {
margin:0 0 20px;
}
.customer #main .ml-box input {
position:relative;
top:2px;
margin:0 10px 0 0;
}
.customer #main .info-table {
width:370px;
}
.customer #main .info-table th {
padding:0 0 2px;
font-weight:bold;
color:#666666;
}
#main .gray-border-box {
margin:0 0 20px;
padding:24px;
border:1px solid #CFCFCF;
}
.customer #main .gray-border-box h2 {
margin:0 0 11px;
font-size:150%;
}
.customer #main table.customer-table th {
color:#666666;
font-size:84%;
}
.customer #main table.customer-table td {
padding:20px 10px 15px 0;
background:url(/11111/common/img/fig_bdr_dot_01.gif) repeat-x 0 0;
vertical-align:top;
}
.customer #main table.customer-table .fcb th,
.customer #main table.customer-table .fcb td {
color:#000000;
}
#main .gray {
color:#666666;
}
.customer #main .gray-box {
margin:0 0 40px;
padding:30px 25px;
background:#eeeeee;
}
.customer #main .gray-box table {
width:60%;
}
.customer #main .gray-box th {
padding:0 0 10px;
color:#666666;
}
.customer #main .customer-table {
width:100%;
}
.customer #main .customer-table p.fwb a {
color:#333333;
}
.customer #main .edit-box {
color:#666666;
}
.customer #main .edit-box #pc-ml,
.customer #main .edit-box #sp-ml {
position:relative;
top:2px;
}
.customer #main .edit-btn {
padding:20px 0 0;
border-top:5px solid #eeeeee;
text-align:right;
}
.customer #main .confirm-table {
width:60%;
}
.customer #main .confirm-table th {
padding:3px 0;
font-weight:bold;
color:#666666;
}
.customer #main .confirm-table td {
padding:3px 0;
color:#000000;
}
.customer #main .mgb200 {
margin:0 0 200px;
}
.customer #main .wishlist-wrap h1 {
margin:0 0 13px;
}
.customer #main .sort-box {
float:right;
color:#666666;
}
.customer #main .sort-box p.sort-title {
float:left;
font-weight:bold;
line-height:1.1;
font-size:84%;
zoom:1;
}
.customer #main .sort-box ul {
float:left;
font-size:84%;
zoom:1;
}
.customer #main .sort-box ul li {
float:left;
padding:0 9px 0 11px;
border-left:1px solid #d9d9d9;
line-height:1.1;
zoom:1;
}
.customer #main .sort-box ul li.bdn {
border:none;
}

/* customer membership */

#main .membership-box,
#main .membership-box2 {
margin:0 0 34px;
padding:0 0 20px;
border-bottom:5px solid #eeeeee;
}
#main .membership-box2 {
padding:0 0 40px;
}
#main .membership-box .txt {
float:left;
width:706px;
}
#main .membership-box .btn {
float:right;
width:253px;
}
#main .membership-box2 .box-inner .txt {
float:left;
width:570px;
padding:0 60px 0 0;
}
#main .membership-box2 .box-inner .pic {
float:right;
width:330px;
}
#main .membership-box2 h2 {
margin:0 0 20px;
}


/* reminder */

.customer #main .reminder_box {
padding:0 0 180px 0;
}

/* close */

.customer #main ul.check_list li {
margin:0 0 15px 0;
}
.customer #main ul.check_list li input {
margin:0 0 1px 0;
vertical-align:middle;
}
.customer #main ul.check_list li .ttl_txtarea {
display:block;
margin:0 0 5px 0;
}

/* order */

.order #main {
width:960px;
margin:0 auto;
}
.order #main .info_area .credit {
margin:0 0 20px 0;
}
.order #main .info_area .credit table {
float:left;
}
.order #main .info_area .credit th {
padding:0 3px 0 0;
}
.order #main .info_area .credit td {
padding:0 45px 0 0;
}
.order #main .info_area .credit p.fig {
float:right;
margin-top:-7px;
}
.order #main .info_area .cvs {
margin:0 0 20px 0;
}
.order #main .info_area .cvs .lft {
float:left;
width:700px;
}
.order #main .info_area .cvs p.fig {
float:right;
margin-top:-7px;
}
.order #main .orderInfo {
padding:21px 24px 12px 21px;
background:#EEEEEE;
}
.order #main .orderInfo p.ttl {
float:left;
margin:0 0 15px 0;
}
.order #main .orderInfo p.note {
float:right;
margin:0 0 15px 0;
}
.order #main .orderInfo table.product {
float:none;
position:static;
width:100%;
border-bottom:1px solid #B2B2B2;
}
.order #main .orderInfo table.product th {
vertical-align:top;
padding:4px 8px 4px 0;
font-size:84%;
color:#666666;
}
.order #main .orderInfo table.product td {
vertical-align:top;
padding:13px 8px  13px 0;
background:url(/11111/common/img/fig_bdr_dot_01.gif) repeat-x left top;
font-size:117%;
font-weight:bold;
color:#000000;
}
.order #main .orderInfo table.product td.wrp {
font-size:100%;
font-weight:normal;
}
.order #main .orderInfo table.subTotal {
clear:both;
width:328px;
margin:15px 0 0 587px;
}
.order #main .orderInfo table.subTotal th,
.order #main .orderInfo table.subTotal td {
font-weight:bold;
}
.order #main .orderInfo table.subTotal th {
padding:0 0 6px 28px;
color:#666666;
}
.order #main .orderInfo table.subTotal td {
padding:0 8px 6px 0;
text-align:right;
color:#000000;
}
.order #main .orderInfo table.subTotal .point th,
.order #main .orderInfo table.subTotal .point td {
padding-bottom:10px;
}
.order #main .orderInfo table.subTotal td select {
font-weight:normal;
}
.order #main .orderInfo table.subTotal .all th,
.order #main .orderInfo table.subTotal .all td {
border-top:1px solid #B2B2B2;
padding-top:6px;
}
.order #main .leftBox {
float:left;
width:480px;
}
.order #main .rightBox {
float:right;
width:480px;
}
.order #main table.confirmInfo {
width:100%;
}
.order #main table.confirmInfo th {
vertical-align:top;
width:166px;
font-weight:bold;
}
.order #main table.confirmInfo td {
vertical-align:top;
padding-right:20px;
color:#000000;
}


.order #main .basket-area a {
font-weight:bold;
}
.order #main .basket-area .title-info {
margin:0 0 36px;
padding:16px 19px 15px;
background:#fde5d5;
}
.order #main .basket-area .title-info .title {
color:#f57d2e;
font-weight:bold;
font-size:117%;
}
.order #main .basket-area .cart01 {
width:100%;
}
.order #main .basket-area .cart01 th {
color:#666666;
}
.order #main .basket-area .cart01 td {
vertical-align:top;
padding:17px 0 23px;
background:url(/11111/common/img/order/bg_dot_001.gif) repeat-x 0 0;
}
.order #main .basket-area .cart01 td.price {
font-weight:bold;
font-size:117%;
}
.order #main .basket-area .cart01 .title {
font-weight:bold;
font-size:117%;
}
.order #main .basket-area .cart01 input {
position:relative;
top:2px;
}
.order #main .basket-area .cart01 label {
padding:0 0 0 5px;
}
.order #main .basket-area .cart01 .wrapping .notes {
margin-top:54px;
font-size:84%;
}
.order #main .basket-area .cart01 .wrapping .notes span {
color:#FF0000;
}
.order #main .basket-area .cart02 {
width:100%;
background:#eeeeee;
}
.order #main .basket-area .cart02 th,
.order #main .basket-area .cart02 td {
padding:23px 0 14px;
background:url(/11111/common/img/order/bg_dot_101.gif) repeat-x 0 0;
vertical-align:top;
}
.order #main .basket-area .cart02 th {
padding:23px 0 14px 19px;
}
.order #main .basket-area .cart02 .ttl {
padding:25px 0 14px 19px;
}
.order #main .basket-area .cart02 td table {
width:100%;
}
.order #main .basket-area .cart02 td td {
padding:0;
background:none;
}
.order #main .basket-area .cart03wrap {
width:960px;
background:url(/11111/common/img/order/bg_dot_101.gif) repeat-x 0 0;
}
.order #main .basket-area .cart03 {
float:right;
width:20%;
margin:0 0 15px;
text-align:right;
}
.order #main .basket-area .cart03 .total {
padding:15px 0 9px 20px;
color:#666666;
font-weight:bold;
vertical-align:auto;
}
.order #main .basket-area .cart03 .price {
padding:15px 0 9px;
font-size:167%;
font-weight:bold;
vertical-align:middle;
}
.order #main .basket-area .cart03 #message {
line-height:1.4;
font-weight:bold;
color:#ED1C24;
}
.order #main .basket-area .cart03 #message p {
margin:0 0 12px 0;
}
.order #main .basket-area .cart04 {
width:100%;
}
.order #main .basket-area .cart04 th,
.order #main .basket-area .cart04 td {
padding:33px 0 28px;
border-top:5px solid #eeeeee;
border-bottom:5px solid #eeeeee;
}
.order #main .basket-area .cart04 input {
position:relative;
top:2px;
}
.order #main .basket-area .cart04 label {
padding:0 0 0 5px;
}
.order #main .basket-area .cart04 td.payment ul li {
float:left;
padding:0 50px 0 0;
}
.order #main .basket-area .cart05 {
width:100%;
margin:0 0 50px;
}
.order #main .basket-area .cart05 .list {
padding:12px 0 0 20px;
}
.order #main .basket-area .cart05 .btn {
padding:20px 0 0;
text-align:right;
}
.order #main .basket-area .cart06 {
width:100%;
margin:0 0 0 0;
}

/* search */

.search #main p.txt_statement {
margin:0 0 30px 0;
color:#666666;
}
.search #main p.txt_statement .count {
font-weight:bold;
font-size:117%;
}

.search #main .note {
color:#666666;
}

.search #main p.lead {
margin:0 0 3px 0;
color:#666666;
font-weight:bold;
}

.search #main h1.ttl_search {
float:left;
width:176px;
}
.search #main .clm_search {
float:right;
width:764px;
}

.search #main .clm_search .inner {
padding:0 0 120px 0;
}

.search #main .clm_search .msg_search,
.search #main .clm_search .txt_search {
color:#000000;
}
.search #main .clm_search .msg_search {
margin:0 0 25px 0;
font-size:150%;
font-weight:bold;
line-height:1;
}
.search #main .clm_search .for_pd {
display:none;
}
.search #main .clm_search .txt_search {
margin:0 0 3px 0;
}

.search #main .clm_search .search-box {
width:292px;
height:15px;
margin:0 0 60px 0;
padding:2px 10px 8px;
background:url(/11111/common/img/bg_search_box_l.gif) no-repeat left top;
}
/* for IE7 */
*+html .search #main .clm_search .search-box {
padding:1px 10px 9px;
}
/* for IE6 */
* html .search #main .clm_search .search-box {
padding:4px 10px 6px;
}

.search #main .clm_search .search-box input {
border:none #ffffff;
color:#999999;
font-weight:bold;
}
.search #main .clm_search .search-box input.input-txt {
width:262px;
}
.search #main .clm_search .search-box input.focusField {
font-weight:normal;
}
.search #main .clm_search .search-box input.submit {
width:23px;
height:13px;
background:url(/11111/common/img/btn_go.gif) no-repeat left top;
cursor:pointer;
}
.search #main .area_result {
margin:0 0 35px 0;
}
.search #main .area_result .txt_result {
float:left;
width:630px;
font-size:150%;
font-weight:bold;
line-height:1;
}
.search #main .area_result .more-link {
float:right;
width:130px;
text-align:right;
}

/* related */

#main #related {
margin:0 0 4px 0px;
background:#EEEEEE;
min-height:283px;
}
* html #main #related {
height:283px;
}
#main #related .inner {
width:960px;
margin:0 auto;
padding:23px 0 10px 0;
overflow:hidden;
}
#main #related .bx-wrapper {
width:960px!important;
}
#main #related .bx-window {
overflow:hidden;
width:904px!important;
margin:0 0 0 27px;
}
#main #related a.bx-prev,
#main #related a.bx-next {
display:block;
overflow:hidden;
position:absolute;
top:98px;
width:16px;
height:26px;
text-indent:-9999px;
}
#main #related a.bx-prev {
left:0;
background:url(/11111/common/img/detail/icn_arw_related_lft.gif) no-repeat left top;
}
#main #related a.bx-next {
right:0;
background:url(/11111/common/img/detail/icn_arw_related_rgt.gif) no-repeat left top;
}
#main #related ul li {
float:left;
width:182px;
}
#main #related ul li p.fig {
margin:0 2px 2px 0;
}
#main #related ul li p.ttl {
margin:0 6px 0 4px;
}
#main #related ul li p.ttl a {
font-weight:bold;
color:#000000;
}
#main #related ul li p.price {
margin:0 6px 0 4px;
font-size:92%;
font-weight:bold;
color:#666666;
}

/* err */

#main #err {
margin:0 0 4px 0px;
background:#EEEEEE;
min-height:283px;
}
* html #main #err {
height:283px;
}
#main #err .inner {
width:960px;
margin:0 auto;
padding:23px 0 10px 0;
overflow:hidden;
}
#main #err .bx-wrapper {
width:960px!important;
}
#main #err .bx-window {
overflow:hidden;
width:904px!important;
margin:0 0 0 27px;
}
#main #err a.bx-prev,
#main #err a.bx-next {
display:block;
overflow:hidden;
position:absolute;
top:98px;
width:16px;
height:26px;
text-indent:-9999px;
}
#main #err a.bx-prev {
left:0;
background:url(/11111/common/img/detail/icn_arw_related_lft.gif) no-repeat left top;
}
#main #err a.bx-next {
right:0;
background:url(/11111/common/img/detail/icn_arw_related_rgt.gif) no-repeat left top;
}
#main #err ul li {
float:left;
width:182px;
}
#main #err ul li p.fig {
margin:0 2px 2px 0;
}
#main #err ul li p.ttl {
margin:0 6px 0 4px;
}
#main #err ul li p.ttl a {
font-weight:bold;
color:#000000;
}
#main #related ul li p.price {
margin:0 6px 0 4px;
font-size:92%;
font-weight:bold;
color:#666666;
}

/* orderflow */

#main .orderflow-box,
#main .howsearch-box {
width:764px;
margin:0 0 30px;
}
#main .orderflow-box .txt,
#main .howsearch-box .txt {
float:left;
width:407px;
padding:0 30px 0 0;
}
#main .orderflow-box .pic,
#main .howsearch-box .pic {
float:right;
width:327px;
}
#main .orderflow-box .pic img,
#main .howsearch-box .pic img {
border:1px solid #d9d9d9;
}

/* artanddesignnight */
#main .designnight-box {
width:764px;
margin:0 0 30px;
}

#main .designnight-box .movie {
float:right;
width:234px;
margin:20px 0 0;
}

#main .designnight-box li {
padding:0 20px 0 0;
display:inline;
}

#main .designnight-box li img {
vertical-align:top;
margin:20px 0 0;
}

#main .designnight-box .txt {
float:left;
width:510px;
}

#main .designnight-box .pic {
float:left;
width:250px;
}


/* wedding */

.wedding #main a {
font-weight:bold;
}

.wedding #main .red-box {
margin:0 0 30px;
padding:20px 27px;
background:#CF123A;
}

.wedding #main .tokuten-box {
margin:3px 0 0;
padding:0 0 0 190px;
background:#EEEEEE;
}

#main .wedding-service-box {
width:725px;
min-height:337px;
padding:38px 0 15px 39px;
background:#FFFFFF url(/11111/common/img/wedding/bg_gift_service.jpg) no-repeat 0 0;
}
* html #main .wedding-service-box {
height:342px;
}
#main .wedding-service-box h1 {
margin:0 0 28px;
}
#main .wedding-service-box .txt-lead {
margin:0 0 36px;
}
#main .wedding-service-box ul li {
margin:0 0 2px;
}
#main .wedding-service-box ul li a {
padding:0 12px 0 0;
background:url(/11111/common/img/wedding/icn_arw_link_red.gif) no-repeat 100% 0.1em;
color:#000000;
font-weight:bold;
}
.wedding #main .bdn {
border:none;
}
.wedding #main .gift-item-box .red li {
list-style:decimal;
font-weight:bold;
}
*:first-child+html #main .gift-item-box .red li {
text-indent:5px;
}
* html .wedding #main .gift-item-box .red li {
text-indent:5px;
}

/* wedding-cart */

#main table.cart-table {
width:100%;
}
#main table.cart-table th {
font-size:84%;
color:#666666;
}
#main table.cart-table td {
font-weight:bold;
padding:14px 0 11px;
background:url(/11111/common/img/fig_bdr_dot_01.gif) repeat-x left top;
}
#main table.cart-table td.product {
width:600px;
font-size:117%;
color:#000000;
}
#main table.cart-table td.link {
width:360px;
}

#main .wedding-cart {
padding:22px 0 0 20px;
border-top:5px solid #eeeeee;
}
#main .wedding-cart ul.more-link {
float:left;
width:300px;
}
#main .wedding-cart .btn {
float:right;
width:600px;
padding:0 0 10px 0;
text-align:right;
color:#000000;
}

/* wedding-form */

.wedding #main .form-ttl {
margin:0 0 25px;
}
.wedding #main h1 {
margin:0 0 38px;
}
.wedding .estimate-item {
margin:0 0 38px;
padding:21px 24px 24px;
background:#eeeeee;
}
.wedding .estimate-item h2 {
margin:0 0 23px;
}
.wedding .estimate-item table {
width:100%;
}
.wedding .estimate-item table th {
padding:0 0 1px;
background:url(/11111/common/img/wedding/bg_dot_100_gray.gif) repeat-x 0 100%;
color:#666666;
font-size:84%;
}
.wedding .estimate-item table td {
padding:10px 0 11px;
background:url(/11111/common/img/wedding/bg_dot_100_gray.gif) repeat-x 0 100%;
color:#000000;
}
.wedding .paragraph {
margin:0 0 30px;
padding:0 0 30px;
border-bottom:5px solid #eeeeee;
}
.wedding .paragraph .option-area p {
margin:0 0 2px;
color:#000000;
}
.wedding .paragraph .notes {
color:#666666;
}
.wedding .how-many input {
margin:0 10px 0 0;
}
.wedding .paragraph input {
position:relative;
top:2px;
margin:0 5px 0 0;
}
.wedding .paragraph textarea {
width:388px;
height:80px;
padding:6px;
color:#666666;
}
.wedding .wedding-confirm-l {
float:left;
width:480px;
color:#000000;
}
.wedding .wedding-confirm-r {
float:right;
width:480px;
color:#000000;
}
.wedding .confirm-info {
width:100%;
}
.wedding .confirm-info td {
padding:0 0 5px;
color:#000000;
}

.wedding .hikidemono .mainvisual {
width:100%;
height:380px;
margin-top:-24px;  /* newsbarが入る時は0、通常時-24 */
background:#EEEEEE;
}
.wedding .hikidemono .mainvisual .inner {
width:960px;
margin:0 auto;
}
.wedding .hikidemono .mainvisual .txt {
float:left;
width:304px;
}
.wedding .hikidemono .mainvisual .txt h1 {
margin:0!important;
}
.wedding .hikidemono .mainvisual img.pic {
float:right;
width:634px;
}
.wedding .hikidemono .weddingnewsbar {
width:100%;
height:35px;
margin-top:-24px;
background:#CF123A;
}
.wedding .hikidemono .weddingnewsbar .inner {
width:960px;
margin:0 auto;
}
.wedding .hikidemono .nav {
padding:28px 0 7px 0;
}
.wedding .hikidemono .nav .lft,
.wedding .hikidemono .nav .mdl,
.wedding .hikidemono .nav .rgt {
float:left;
width:304px;
}
.wedding .hikidemono .nav .lft,
.wedding .hikidemono .nav .mdl {
margin:0 24px 0 0;
}
.wedding .hikidemono .nav ul {
width:304px;
height:152px;
margin:0 0 17px 0;
}
.wedding .hikidemono .nav ul li.label {
float:left;
width:122px;
height:122px;
position:relative;
padding:15px;
}
.wedding .hikidemono .nav ul li.label p.more-link {
position:absolute;
left:15px;
bottom:6px;
background:url(/11111/common/img/icn_arw_link_wht.png) no-repeat right center;
}
.wedding .hikidemono .nav ul li.label p.more-link a {
color:#FFFFFF;
background:none!important;
}
.wedding .hikidemono .nav ul li.product {
float:right;
width:152px;
height:152px;
background:#EEEEEE;
}
.wedding .hikidemono .nav ul li.product:hover a {
display: block;
overflow:hidden;
width:146px;
height:146px;
border: 3px solid #ccc;
}
.wedding .hikidemono .nav ul li.product:hover a img {
margin-top:-3px;
}
.wedding .hikidemono .nav ul li.product:hover a img.fit {
margin-left:-3px;
}
.wedding .hikidemono div.info h3 {
display: block;
color: #000;
font-weight: bold;
line-height: 1.1;
margin: 0px 0px 3px;
width: 100%;
font-size:84%;
}
.wedding .hikidemono a:hover h3{
text-decoration:none;
}
.wedding .hikidemono a h3:hover{
text-decoration:underline;
}


.wedding .hikidemono ul.links {
zoom:1;
margin:0 0 22px 0;
padding:8px 0;
background:url(/11111/common/img/wedding/bg_hkd_links.gif) repeat-y left top;
}
.wedding .hikidemono ul.links li {
float:left;
width:222px;
padding:0 12px;
}
.wedding .hikidemono ul.links li.first {
padding-left:0;
}
.wedding .hikidemono ul.links li.last {
padding-right:0;
}
.wedding .hikidemono ul.links li h2 {
margin:0 0 18px 0;
}

/* wedding service */

.wedding #main h1.wedding-lead {
margin:0 0 15px;
padding:0 0 7px;
border-bottom:1px solid #d9d9d9;
}
.wedding #main .service-box {
background:url(/11111/common/img/wedding/bg_dot_101_white.gif) repeat-x 0 100%;
}
.wedding #main .service-box .txt {
float:left;
width:300px;
padding:0 80px 0 0;
}
.wedding #main .service-box .pic {
float:right;
width:380px;
}
.wedding #main ol li {
list-style:none;
margin:0 0 0 20px;
}
.wedding #main .service-box .txt table {
width:80%;
}
.wedding #main .service-box .txt table th {
padding:2px 8px;
background:#eeeeee;
border:1px solid #cccccc;
}
.wedding #main .service-box .txt table td {
padding:2px 8px;
border-left:1px solid #cccccc;
border-right:1px solid #cccccc;
border-bottom:1px solid #cccccc;
}

/* bridal salon */

.wedding #main .salon-box {
margin:0 0 30px 0;
}
.wedding #main .salon-box .txt {
float:left;
width:450px;
}
.wedding #main .salon-box .txt table {
margin:0 0 20px 0;
}
.wedding #main .salon-box .txt table th {
padding:0 20px 0 0;
}
.wedding #main .salon-box .map {
float:right;
width:292px;
}
.wedding #main .salon-box .map p.fig {
margin:0 0 2px 0;
}

.wedding #main .salon-txt .ul {
list-style-type: none;
}

/* wedding flow */

.wedding .flow-box {
margin:0 0 40px;
}
.wedding .flow-box .txt {
float:left;
width:384px;
padding:0 52px 0 0;
}
.wedding .flow-box .pic {
float:right;
width:327px;
}
.wedding .flow-box .pic img {
border:1px solid #d9d9d9;
}

/* wedding point */

.wedding .point-box {
margin:0 0 20px;
}
.wedding .point-box .txt {
float:left;
width:330px;
padding:0 52px 0 0;
}
.wedding .point-box .pic {
float:right;
width:380px;
}
.wedding #main #main_inner .point-box .lead2 {
margin:0 0 4px;
}
.wedding #main .point-box ol li {
margin:0;
list-style:none;
}

/* wedding ranking */

.wedding #main .ranking div#grid ul.sorted li {
margin-top:0;
}
.wedding #main .ranking div#grid ul.sorted li.first {
display:inline;
float:right;
}
.wedding #main .ranking div#grid ul.sorted li img.icn {
position:absolute;
left:0;
top:0;
}
.wedding #main .ranking div#grid ul.sorted li:hover img {
margin-top:0;
}
.wedding #main .ranking div#grid ul.sorted li:hover img.pd {
margin-top:-3px;
}



/* catalog */

.catalog .lft {
float:left;
width:380px;
margin:0 58px 0 0;
padding:0 0 35px 0;
}
.catalog p.rgt {
float:left;
width:304px;
padding:0 0 35px 0;
}
.catalog table.environmment {
margin:0 0 90px 0;
}
.catalog table.environmment th,
.catalog table.environmment td {
vertical-align:top;
}
.catalog table.environmment th {
padding:0 10px 20px 0;
white-space:nowrap;
font-weight:bold;
}
.catalog table.environmment td {
padding:0 0 20px 0;
}

/* faq */

.faq ul.more-link {
padding:0 0 10px 0;
}

.faq h2 {
margin:15px 0 0 0;
padding:18px 0;
background:url(/11111/common/img/fig_bdr_dot_03.gif) repeat-x left top;
}
.faq a {
font-weight:bold;
}

.faq dl dt {
float:left;
margin:0 0 10px 0;
color:#666666;
font-weight:bold;
}
.faq dl dd {
clear:both;
padding:0 0 25px 0;
}
.faq dl dt span {
display:block;
padding:6px 14px 4px;
background:#eeeeee;
}

/* contact */

.contact #main .txt-area textarea {
width:595px;
height:95px;
padding:5px 0 0 5px;
}

/* corporate intro */

#main .intro-box {
margin:0 0 20px;
padding:0 0 30px;
background:url(/11111/common/img/corporate/bg_dot_010.gif) repeat-x 0 100%;
}
#main .intro-box2 .txt {
float:left;
width:538px;
padding:0 20px 0 0;
}
#main .intro-box2 .pic {
float:right;
width:206px;
}

/* backnumber */

.backnumber .archive {
margin:0 0 20px 0;
padding:20px;
border:1px solid #C3C3C3;
}
.backnumber .archive h2 {
margin:0 0 10px 0;
}
.backnumber .whatsnewTable {
width:100%;
margin:0 0 40px 0;
}
.backnumber .whatsnewTable th,
.backnumber .whatsnewTable td {
padding:5px 7px;
border:1px solid #C3C3C3;
}
.backnumber .whatsnewTable thead th {
background:#E6E6E6;
font-size:117%;
font-weight:bold;
}

/* nissen用特設ページ */
.nissen #pic {
float:left;
width:800px;
display:inline;
}

.nissen #main .title-info {
width:764px; height:573px;
background:url(/11111/common/img/nissen/sky_main01.jpg) no-repeat left top;
}

.nissen #main .txtbox {
clear:both;
padding:293px 320px 0 54px;
width:370px;
}

.nissen #main .txt {
color:#000000;
font-weight:bold;
font-size:100%;
}

.nissen #main .pass {
color:#EE0E8D;
font-weight:bold;
font-size:130%;
}

.nissen #main td, th {
padding:10px 10px;
}

.nissen #main .table nissen {
border-spacing: 2px;
}

/* news */
.news #main_content ul.list li {
margin:0 0 0 50px;
}

.news #main_content .end {
text-align: right;
}

/* linkshare関連 */
#linkshare {
width: 764px;
overflow: hidden;
padding-bottom: 30px;
}

#linkshare .pic li {
clear:both;
padding:0 3px 0 0;
margin:0 0 0 0;
display:inline;

}

#linkshare .title-info {
width:764px; height:400px;
background:url(/11111/common/img/linkshare/randing_tokyu_top.jpg) no-repeat left top;
}

#linkshare .title-info02 {
width:764px; height:400px;
background:url(/11111/common/img/linkshare/randing_edy_top.jpg) no-repeat left top;
}

#linkshare .title-info03 {
width:764px; height:400px;
background:url(/11111/common/img/linkshare/randing_tmall_top.jpg) no-repeat left top;
}

#linkshare .title-info04 {
width:764px; height:400px;
background:url(/11111/common/img/linkshare/randing_ana_top.jpg) no-repeat left top;
}

#linkshare .title-info05 {
width:764px; height:400px;
background:url(/11111/common/img/linkshare/randing_elne_top.jpg) no-repeat left top;
}

#linkshare .title-info06 {
width:764px; height:400px;
background:url(/11111/common/img/linkshare/randing_summally_top.jpg) no-repeat left top;
}

#linkshare .txtbox {
clear:both;
padding:283px 27px;
width:100px;
}

#linkshare .pass {
color:#FFB200;
font-weight:bold;
font-size:230%;
}

#linkshare .txt {
text-align:center;
font-size:150%;
font-weight:bold;
}

#linkshare .pass02 {
color:#00AEEF;
font-weight:bold;
font-size:230%;
}

#linkshare .pass03 {
color:#FF4E02;
font-weight:bold;
font-size:230%;
}



/* sitemap */

.sitemap #info-messaging {
margin:20px 0 60px 0;
border-top:1px solid #D9D9D9;
}
.sitemap .sitemap-column {
float:left;
width:255px;
margin:0 20px 0 0;
padding:30px 0 0 0;
}
.sitemap .sitemap-column h4 {
font-weight:bold;
}
.sitemap .sitemap-column h4.solo {
margin-bottom:15px;
font-weight:bold;
}
.sitemap .sitemap-column h4 a {
color:#333333;
}
.sitemap .sitemap-column h4 a:hover {
text-decoration:none;
}
.sitemap .sitemap-column ul {
margin-bottom:30px;
}
.sitemap .sitemap-column ul li {
padding-top:2px;
}
.sitemap .sitemap-column ul li a {
color:#333333;
}


/* ad関連 */
#ad {
width: 764px;
overflow: hidden;
padding-bottom: 30px;
}

#ad .pic li {
clear:both;
padding:0 3px 0 0;
margin:0 0 0 0;
display:inline;

}

#ad .title-info1304 {
width:764px; height:400px;
background:url(/11111/common/img/ad/ad_1304_01.jpg) no-repeat left top;
}

#ad .txtbox {
clear:both;
padding:283px 27px;
width:100px;
}

#ad .pass {
color:#900d28;
font-weight:bold;
font-size:230%;
}

#ad .txt {
text-align:center;
font-size:150%;
font-weight:bold;
}

#ad .pass02 {
color:#00AEEF;
font-weight:bold;
font-size:230%;
}

#ad .pass03 {
color:#FF4E02;
font-weight:bold;
font-size:230%;
}






/* cart_related */

#main2 #related {
margin:0 0 4px 0px;
background:#EEEEEE;
min-height:283px;
}
* html #main2 #related {
height:283px;
}
#main2 #related .inner {
width:960px;
margin:0 auto;
padding:23px 0 10px 0;
overflow:hidden;
}
#main2 #related .bx-wrapper {
width:960px!important;
}
#main2 #related .bx-window {
overflow:hidden;
width:904px!important;
margin:0 0 0 27px;
}
#main2 #related a.bx-prev,
#main2 #related a.bx-next {
display:block;
overflow:hidden;
position:absolute;
top:98px;
width:16px;
height:26px;
text-indent:-9999px;
}
#main2 #related a.bx-prev {
left:0;
background:url(/11111/common/img/detail/icn_arw_related_lft.gif) no-repeat left top;
}
#main2 #related a.bx-next {
right:0;
background:url(/11111/common/img/detail/icn_arw_related_rgt.gif) no-repeat left top;
}
#main2 #related ul li {
float:left;
width:182px;
}
#main2 #related ul li p.fig {
margin:0 2px 2px 0;
}
#main2 #related ul li p.ttl {
margin:0 6px 0 4px;
}
#main2 #related ul li p.ttl a {
font-weight:bold;
color:#000000;
}
#main2 #related ul li p.price {
margin:0 6px 0 4px;
font-size:92%;
font-weight:bold;
color:#666666;
}

/* err */

#main #err {
margin:0 0 4px 0px;
background:#EEEEEE;
min-height:283px;
}
* html #main #err {
height:283px;
}
#main #err .inner {
width:960px;
margin:0 auto;
padding:23px 0 10px 0;
overflow:hidden;
}
#main #err .bx-wrapper {
width:960px!important;
}
#main #err .bx-window {
overflow:hidden;
width:904px!important;
margin:0 0 0 27px;
}
#main #err a.bx-prev,
#main #err a.bx-next {
display:block;
overflow:hidden;
position:absolute;
top:98px;
width:16px;
height:26px;
text-indent:-9999px;
}
#main #err a.bx-prev {
left:0;
background:url(/11111/common/img/detail/icn_arw_related_lft.gif) no-repeat left top;
}
#main #err a.bx-next {
right:0;
background:url(/11111/common/img/detail/icn_arw_related_rgt.gif) no-repeat left top;
}
#main #err ul li {
float:left;
width:182px;
}
#main #err ul li p.fig {
margin:0 2px 2px 0;
}
#main #err ul li p.ttl {
margin:0 6px 0 4px;
}
#main #err ul li p.ttl a {
font-weight:bold;
color:#000000;
}
#main #related ul li p.price {
margin:0 6px 0 4px;
font-size:92%;
font-weight:bold;
color:#666666;
}