@charset "shift_jis";

/* ===============================================================
*** base ***
=============================================================== */

html {
overflow-y:scroll;
}

body {
font-family:"ÇlÇr ÇoÉSÉVÉbÉN", "ÉqÉâÉMÉmäpÉS Pro", "Hiragino Kaku Gothic Pro", Arial, Helvetica, sans-serif;
line-height:1.8;
color:#333333;
background:#ffffff;
}


/* ===============================================================
*** header ***
=============================================================== */

#header,
#header .inner {
height:62px;
}

#header .inner {
width:1023px;
/*width:960px;*/
margin:0 auto;
}

#header a#logo {
display:block;
float:left;
width:709px;
/*width:546px;*/
height:62px;
margin-left:-60px; /*í«ãL*/
text-indent:-9999px;
}

#header #log-box {
float:right;
width:300px;
color:#ffffff;
}
#header #log-box #head-membership {
float:left;
width:180px;
height:auto;
}

#header #log-box #head-membershiptop {
float:left;
width:200px;
height:auto;
}

#header #log-box .head-bdr {
float:left;
width:1px;
height:42px;
margin:10px 0 0 0;
font-size:0;
}

#header #log-box #head-membership p.msg {
padding:10px 11px 0 0;
font-weight:bold;
text-align:right;
}
#header #log-box #head-membership p.regist {
float:right;
width:94px;
}
#header #log-box #head-membership p.regist a {
display:block;
width:94px;
height:27px;
background:url(/11111/common/img/txt_hdr_email.png) no-repeat 0px 5px;
text-indent:-9999px;
}

#header #log-box #head-membership p.regist2 {
float:right;
width:94px;
}
#header #log-box #head-membership p.regist2 a {
display:block;
width:94px;
height:27px;
background:url(/11111/common/img/txt_hdr_email2.png) no-repeat 0px 5px;
text-indent:-9999px;
}


#header #log-box #head-membershiptop p.msg {
padding:10px 11px 0 0;
font-weight:bold;
text-align:right;
}
#header #log-box #head-membershiptop p.regist {
float:right;
width:94px;
}
#header #log-box #head-membershiptop p.regist a {
display:block;
width:94px;
height:27px;
background:url(/11111/common/img/txt_hdr_email.png) no-repeat 0px 5px;
text-indent:-9999px;
}

#header #log-box #head-membershiptop p.regist2 {
float:right;
width:94px;
}
#header #log-box #head-membershiptop p.regist2 a {
display:block;
width:94px;
height:27px;
background:url(/11111/common/img/txt_hdr_email2.png) no-repeat 0px 5px;
text-indent:-9999px;
}

#header #log-box #head-cart {
float:left;
width:110px;
font-weight:bold;
}

#header #log-box #head-cart p.cart {
width:110px;
height:34px;
cursor:pointer;
}

#header #log-box #head-cart p.cart a {
display:block;
height:34px;
}
#header #log-box #head-cart .ttl {
display:block;
float:left;
width:60px;
height:34px;
margin:0 4px 0 0;
padding:0 0 0 10px;
background:url(../img/txt_hdr_cart.png) no-repeat 10px 12px;
text-indent:-9999px;
}

#header #log-box #head-cart p.loggedin {
width:110px;
}

#header #log-box #head-cart p.loggedin a {
display:block;
height:28px;
background:url(/11111/common/img/txt_hdr_logout.png) no-repeat 10px 4px;
text-indent:-9999px;
}
/* for IE6 */
* html #header #log-box #head-cart p.loggedin a {
height:26px;
}
#header #log-box #head-cart p.loggedout a {
display:block;
height:28px;
background:url(../img/txt_hdr_login.png) no-repeat 10px 4px;
text-indent:-9999px;
}
/* for IE6 */
* html #header #log-box #head-cart p.loggedout a {
height:26px;
}

#header #log-box #head-cart-wedding p.cart {
float:right;
width:116px;
height:62px;
margin:0;
text-indent:-9999px;
}
#header #log-box #head-cart-wedding p.cart a {
display:block;
width:116px;
height:62px;
background:url(/11111/common/img/wedding/txt_hdr_mitsumoricart.png) no-repeat 2px top;
}

/* ===============================================================
*** navigation ***
=============================================================== */

#navigation {
z-index:6001;
/*width:960px;*/
margin:0 auto;
padding:0 0 15px 0;
}
#top #navigation {
padding:0;
}

#navigation #subnav {
z-index:6010;
margin:10px 0 0 0;
}
#navigation #subnav ul {
z-index:6011;
float:left;
}
#navigation #subnav ul li {
z-index:6012;
float:left;
margin:0 20px 0 0;
}
#navigation #subnav ul li.arw-link {
position:relative;
}
#navigation #subnav ul li.arw-link a {
padding:0 12px 0  0;
background:url(/11111/common/img/icn_arw_down_01.gif) no-repeat right 4px;
}
#navigation #subnav ul li.arw-link a:hover {
background:url(/11111/common/img/icn_arw_down_01_on.gif) no-repeat right 4px;
}

#navigation #subnav ul li.arw-link .dropdown {
display:none;
position:absolute;
top:20px;
left:-25px;
width:180px;
padding:10px 10px 20px 19px;
background:#ffffff url(/11111/common/img/fig_bdr_dot_01.gif) repeat-x left top;
border-left:5px solid #cccccc;
border-bottom:5px solid #cccccc;
border-right:5px solid #cccccc;
}
#navigation #subnav ul li.arw-link .dropdown ul,
#navigation #subnav ul li.arw-link .dropdown ul li {
float:none;
margin:0;
}
#navigation #subnav ul li.arw-link .dropdown ul li a,
#navigation #subnav ul li.arw-link .dropdown ul li a:hover {
font-weight:normal;
background:none;
}
#navigation #subnav ul li.arw-link .dropdown ul li.more-link {
margin-top:20px;
}

#navigation #subnav .search-box {
float:right;
width:252px;
height:19px;
padding:4px 10px 6px;
background:url(/11111/common/img/bg_search_box.gif) no-repeat left top;
}
/* for IE6 */
* html #navigation #subnav .search-box {
padding:7px 10px 3px;
}

#navigation #subnav .search-box input {
border:none;
color:#999999;
font-weight:bold;
background:#FFFFFF;
}
#navigation #subnav .search-box input.input-txt {
width:225px;
}
#navigation #subnav .search-box input.focusField {
font-weight:normal;
}
#navigation #subnav .search-box input.submit {
width:20px;
height:15px;
background:url(/11111/common/img/icn_search.gif) no-repeat left top;
cursor:pointer;
text-indent:-9999px;
vertical-align:middle;
}

#navigation #mainnav {
z-index:6002;
margin:10px 0 9px;
}
#top #mainnav {
margin:10px 0 0;
}

#mainnav{
	width:200px;
}

#navigation #mainnav ul {
z-index:6003;
position:relative;
}
#navigation #mainnav ul li,
#navigation #mainnav ul li a {
float:left;
height:30px;
}
#navigation #mainnav ul li a {
display:block;
}
#navigation #mainnav ul li a img {
padding:0 0 11px 0;
}
#navigation #mainnav ul li span.divider {
display:block;
float:left;
width:12px;
height:19px;
background:url(/11111/common/img/fig_line_divide.gif) no-repeat left top;
text-indent:-9999px;
}

#navigation #mainnav ul li .dropdown {
display:none;
position:absolute;
top:30px;
left:0;
width:950px;
padding:20px 0;
background:#ffffff url(/11111/common/img/fig_bdr_dot_01.gif) repeat-x left top;
border-left:5px solid #cccccc;
border-bottom:5px solid #cccccc;
border-right:5px solid #cccccc;
}

#navigation #mainnav ul li .category-box {
padding:0 20px;
}
#navigation #mainnav ul li .category-box dt {
margin:0 0 12px 0;
}
#navigation #mainnav ul li .category-box dt span,
#navigation #mainnav ul li .goods-area p.ttl span {
padding:0 0 3px 0;
background:url(/11111/common/img/fig_bdr_dot_01.gif) repeat-x left bottom;
font-weight:bold;
}
#navigation #mainnav ul li .category-box dd ul li,
#navigation #mainnav ul li .category-box dd ul li a {
float:none;
height:auto;
}
#navigation #mainnav ul li .category-box dd ul li a {
display:inline;
}
#navigation #mainnav ul li .category-box .category-menu {
float:left;
width:178px;
border-right:1px solid #e5e5e5;
}
#navigation #mainnav ul li .goods-area {
float:left;
width:698px;
padding:0 0 0 30px;
}
#navigation #mainnav ul li .goods-area .list {
width:690px;
margin:20px 0 0 0;
}
#navigation #mainnav ul li .goods-area .list p.name,
#navigation #mainnav ul li .goods-area .list p.price {
font-weight:bold;
}
#navigation #mainnav ul li .goods-area .list p.price {
color:#666666;
}

#navigation #mainnav ul li .goods-area ul li {
width:170px;
height:auto;
}
#navigation #mainnav ul li .goods-area ul li p.img {
margin:0 0 10px 0;
text-align:center;
}
#navigation #mainnav ul li .goods-area ul li p.img a {
float:none;
display:block;
height:auto;
}

#navigation #mainnav ul li.wedding {
position:relative;
}
#navigation #mainnav ul li.wedding .dropdown {
display:none;
position:absolute;
top:20px;
left:-15px;
width:150px;
padding:10px 10px 20px 19px;
background:#ffffff url(/11111/common/img/fig_bdr_dot_01.gif) repeat-x left top;
border-left:5px solid #cccccc;
border-bottom:5px solid #cccccc;
border-right:5px solid #cccccc;
}
#navigation #mainnav ul li.wedding .dropdown ul,
#navigation #mainnav ul li.wedding .dropdown ul li {
float:none;
margin:0;
}
#navigation #mainnav ul li.wedding .dropdown ul li a,
#navigation #mainnav ul li.wedding .dropdown ul li a:hover {
font-weight:normal;
background:none;
}

/* ===============================================================
*** footer ***
=============================================================== */

#footer {
clear:both;
}
#footer .moma-strip {
padding:11px 0 9px;
zoom:1;
}
#footer .moma-strip .inner,
#footer .info-strip ul {
width:960px;
margin:0 auto;
}
#footer .moma-strip .support-txt {
float:left;
width:412px;
height:20px;
text-indent:-9999px;
}
#footer .moma-strip .ftr-logo a {
float:right;
width:167px;
height:19px;
text-indent:-9999px;
background:url(/11111/common/img/logo_ftr_01.png) no-repeat left top;
}


#footer .info-strip {
padding:7px 0;
background:#000000;
color:#ffffff;
}
#footer .info-strip ul li {
float:left;
margin:0 5px 0 0;
}

/* ===============================================================
*** contents ***
=============================================================== */

#contents {
}

/* ===================== main ===================== */

#main {
}

/*èCê≥*/

#main #main_inner {
/*width:960px;*/
width:1260px;
margin:0 auto;
}

#main_content {
float:right;
width:1064px;
/*width:764px;*/
}

/*èCê≥èI*/

#main_content ul.ttl li,
#main_content ul.guest li {
font-weight:bold;
color:#000000;
}

#main_content ul.ttl span {
font-weight:bold;
color:#00AEEF;
}


/* side */

#side {
float:left;
width:176px;
padding:0 0 100px 0;
}
#side #pdlist {
margin:0 0 25px 0;
}
#side p.side_ttl {
margin:0 0 7px 0;
}
#side ul.list li {
zoom:1;
border-bottom:1px solid #D9D9D9;
}
#side ul.list li a {
zoom:1;
display:block;
padding:2px 0;
font-weight:bold;
color:#000000;
outline-width:0;
}
#side ul.list li a:hover {
text-decoration:none;
color:#00ADEF;
}
#side ul.list li a.on {
background-color:#EEEEEE;
text-decoration:none;
}
#main #side ul.list li a.on:hover {
color:#333333;
}
#side ul.list li div {
position:relative;
}
#side ul.list li div a.toggle {
position:absolute;
right:0;
top:8px;
display:block;
width:8px;
height:8px;
}
#side ul.list li div a.close {
background:url(/11111/common/img/icn_plus.gif) no-repeat left top;
}
#side ul.list li div a.open {
background:url(/11111/common/img/icn_minus.gif) no-repeat left top;
}
#side ul.list li ul {
display:none;
padding:3px 0 5px 0;
}
#side ul.list li ul li {
border-bottom:none;
}
#main #side ul.list li ul li a {
padding:1px 0 1px 14px;
background-image:none;
font-weight:normal;
color:#333333;
}
#main #side ul.list li ul li a:hover {
color:#00AEEF;
}
#main_inner dt {
margin:0 0 12px 0;
}
#main_inner dt span {
padding:0 0 3px 0;
background:url(/11111/common/img/fig_bdr_dot_01.gif) repeat-x left bottom;
font-weight:bold;
}
#main_inner dd {
margin:0 0 20px 0;
}


/* ===================== sitemap ===================== */

#sitemap {
clear:both;
/*min-height:500px;*/
background:#eeeeee;
}
* html #sitemap {
height:500px;
}
#sitemap .inner {
width:960px;
margin:0 auto;
padding:30px 0 15px 0px;
}
#sitemap .inner .cont-s,
#sitemap .inner .cont-m,
#sitemap .inner .cont-ms {
float:left;
}
#sitemap .inner .cont-s {
width:194px;
}
#sitemap .inner .cont-m {
width:378px;
}
#sitemap .inner .cont-ms {
width:189px;
}
#sitemap .inner dt {
margin:0 0 12px 0;
}
#sitemap .inner dt span {
padding:0 0 3px 0;
background:url(/11111/common/img/fig_bdr_dot_01.gif) repeat-x left bottom;
font-weight:bold;
}
#sitemap .inner dd {
margin:0 0 43px 0;
}
#sitemap .inner dd.btm {
margin:0;
}

#sitemap .inner dd.info-center {
margin:0 0 30px 0;
color:#666666;
}
#sitemap .inner dd.info-center span {
font-weight:bold;
}

#sitemap .inner dd ul li.indent-link {
margin:0 0 0 1em;
text-indent:-1em;
}

#sitemap .inner .email {
clear:both;
}
#sitemap .inner .email dd {
float:left;
width:350px;
height:22px;
background:url(/11111/common/img/bg_signup_box.gif) no-repeat left top;
margin:0;
padding:5px 10px;
}

#sitemap .inner .email dd input {
border:none #ffffff;
}
#sitemap .inner .email dd input.input-txt {
width:315px;
color:#999999;
font-weight:bold;
}
#sitemap .inner .email dd input.focusField {
font-weight:normal;
}
#sitemap .inner .email dd input.submit {
width:23px;
height:13px;
background:url(/11111/common/img/btn_go.gif) no-repeat left top;
cursor:pointer;
}

#sitemap .inner dd.mobile {
margin:0 0 10px 0;
}
#sitemap .inner dd.social img {
vertical-align:top;
}
#sitemap .inner dd.social ul li {
margin:0 0 5px 0;
font-size:0;
}



#header #log-box2 {
float:right;
width:320px;
color:#ffffff;
}
#header #log-box2 #head-membership {
float:left;
width:200px;
height:auto;
}


#header #log-box2 .head-bdr {
float:left;
width:1px;
height:42px;
margin:10px 0 0 0;
font-size:0;
}

#header #log-box2 #head-membership p.msg {
padding:12px 11px 0 0;
font-weight:bold;
text-align:right;
}
#header #log-box2 #head-membership p.regist {
float:right;
width:94px;
padding-right:3px;
}
#header #log-box2 #head-membership p.regist a {
display:block;
width:94px;
height:27px;
background:url(/11111/common/img/txt_hdr_email.png) no-repeat 0px 5px;
text-indent:-9999px;
}

#header #log-box2 #head-membership p.regist2 {
float:right;
width:94px;
}
#header #log-box2 #head-membership p.regist2 a {
display:block;
width:94px;
height:27px;
background:url(/11111/common/img/txt_hdr_email2.png) no-repeat 0px 5px;
text-indent:-9999px;
}


#header #log-box2 #head-cart {
float:left;
width:110px;
font-weight:bold;
}

#header #log-box2 #head-cart p.cart {
width:110px;
height:34px;
cursor:pointer;
}

#header #log-box2 #head-cart p.cart a {
display:block;
height:34px;
}
#header #log-box2 #head-cart .ttl {
display:block;
float:left;
width:60px;
height:34px;
margin:0 4px 0 0;
padding:0 0 0 10px;
background:url(/11111/common/img/txt_hdr_cart.png) no-repeat 10px 12px;
text-indent:-9999px;
}

#header #log-box2 #head-cart p.loggedin {
width:110px;
}

#header #log-box2 #head-cart p.loggedin a {
display:block;
height:28px;
background:url(/11111/common/img/txt_hdr_logout.png) no-repeat 10px 4px;
text-indent:-9999px;
}
/* for IE6 */
* html #header #log-box2 #head-cart p.loggedin a {
height:26px;
}
#header #log-box2 #head-cart p.loggedout a {
display:block;
height:28px;
background:url(/11111/common/img/txt_hdr_login.png) no-repeat 10px 4px;
text-indent:-9999px;
}
/* for IE6 */
* html #header #log-box2 #head-cart p.loggedout a {
height:26px;
}

#header #log-box2 #head-cart-wedding p.cart {
float:right;
width:116px;
height:62px;
margin:0;
text-indent:-9999px;
}
#header #log-box2 #head-cart-wedding p.cart a {
display:block;
width:116px;
height:62px;
background:url(/11111/common/img/wedding/txt_hdr_mitsumoricart.png) no-repeat 2px top;
}